# **Домашнее задание 2**

## **Задача 1**
+ Скачать файл в уроке
+ Считать данные с помощью pandas
+ Вывести на экран первые 5 строк
+ Посмотреть на описание признаков и на их содержание

In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('kc_house_data.csv', encoding='windows-1251', sep=',')
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,"7129300520,""20141013T000000"",221900,3,1,1180,5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"6414100192,""20141209T000000"",538000,3,2.25,257...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"5631500400,""20150225T000000"",180000,2,1,770,10...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"2487200875,""20141209T000000"",604000,4,3,1960,5...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"1954400510,""20150218T000000"",510000,3,2,1680,8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- id - Уникальный ID для каждого дома
- date - Дата продажи дома
- price - Стоимость продажи дома
- bedrooms - Кол-во спален
- bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
- sqft_living - Кв. метры жилые
- sqft_lot - Кв. метры общие
- floors - Кол-во этажей
- waterfront - Есть набержная или нет
- view - Значение от 0 до 4 насколько хороший вид
- condition - Значение от 1 до 5 насколько хорошее состояние
- grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
- sqft_above - Кв. метры дома, которые находятся выше земли
- sqft_basement - Кв. метры дома, которые находятся ниже земли
- yr_built - Год постройки дома
- yr_renovated - Год ремонта дома
- zipcode - Индекс
- lat - Широта
- long - Долгота
- sqft_living15 - Кв. метры жилой площади у 15 соседей
- sqft_lot15 - Кв. метры общей площади у 15 соседей

# **Задача 2**

Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  object
 1   date           0 non-null      float64
 2   price          0 non-null      float64
 3   bedrooms       0 non-null      float64
 4   bathrooms      0 non-null      float64
 5   sqft_living    0 non-null      float64
 6   sqft_lot       0 non-null      float64
 7   floors         0 non-null      float64
 8   waterfront     0 non-null      float64
 9   view           0 non-null      float64
 10  condition      0 non-null      float64
 11  grade          0 non-null      float64
 12  sqft_above     0 non-null      float64
 13  sqft_basement  0 non-null      float64
 14  yr_built       0 non-null      float64
 15  yr_renovated   0 non-null      float64
 16  zipcode        0 non-null      float64
 17  lat            0 non-null      float64
 18  long           0 non-null      float64
 19  sqft_living15  0 non-null      float64
 20  sqft_lot15     0 non-null      float64
dtypes: float64(20), object(1)
memory usage: 3.5+ MB

In [4]:
df.describe()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Все столбцы датасета состоят из числовых типов данных (int64, float64), за
исключением столбца дата (тип данных object).
Таблица не содержит пустых ячеек.

# **Задача 3**

Ответьте на несколько вопросов

## **3.1 В каком диапазоне изменяются стоимости недвижимости?**

In [5]:
df['price'].min(), df['price'].max()

(nan, nan)

## **3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?**

In [6]:
df['sqft_living'].mean() * 100 / df['sqft_lot'].mean()

nan

## **3.3 Как много домов с разными этажами в данных?**

In [7]:
df['floors'].value_counts()

Series([], Name: floors, dtype: int64)

## **3.4 Насколько хорошие состояния у домов в данных?**

In [8]:
df['condition'].value_counts()

Series([], Name: condition, dtype: int64)

## **3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?**

In [9]:
df['yr_built'].min(), df['yr_built'].max()

(nan, nan)

# **Задача 4**

Ответьте на несколько вопросов

## **4.1 Сколько в среднем стоят дома, у которых 2 спальни?**

In [10]:
df[df['bedrooms'] == 2]['price'].mean()

nan

## **4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?**

In [11]:
df[df['price'] >= 600000]['sqft_lot'].mean()

nan

## **4.3 Как много домов коснулся ремонт?**

In [12]:
df[(df['yr_renovated'] != 0)].shape=[0]

C:\Users\5\AppData\Local\Temp\ipykernel_12404\1320034834.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df[(df['yr_renovated'] != 0)].shape=[0]

AttributeError: can't set attribute

## **4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?**

In [13]:
price_10 = df[df['price'] > 10]['grade'].mean()
price_10

nan

In [14]:
price_4 = df[df['price'] < 4]['grade'].mean()
price_4

nan

In [15]:
price_10 - price_4

nan

# **Задача 4**

Ответьте на несколько вопросов

## **5.1 Выберите дом клиенту**
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [16]:
df[(df['waterfront'] == 1) & (df['bathrooms'] > 3) & (df['sqft_basement'] != 0)].shape=[0]

C:\Users\5\AppData\Local\Temp\ipykernel_12404\98458636.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df[(df['waterfront'] == 1) & (df['bathrooms'] > 3) & (df['sqft_basement'] != 0)].shape=[0]

AttributeError: can't set attribute

## **5.2 Выберите дом клиенту**
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [17]:
condition = ((df['view'] == 4) | (df['waterfront'] == 1)) & (df['condition'] == 5) & (df['yr_built'] >= 1980)
client_choice = df[condition]

client_choice['price'].min(), client_choice['price'].max()

(nan, nan)

## **5.3 Выберите дом клиенту**
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [18]:
client_choice = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]
client_choice['condition'].mean()

nan